.connections-details-container {
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fade-in 500ms;
}

.connections-details-body {
    max-width: 1482px;
    width: 100%;
}

.connections-details-header {
    border-bottom: 1px var(--pink) solid;
    margin-bottom: 30px;
    display: flex;
}

.connection-details-info {
    width: 75%;
}

.connection-details-buttons-container {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.connection-details-button {
    min-width: 35px;
    height: auto;
    cursor: pointer;
    transition: 300ms all ease;
    margin: 0 5px 20px 5px;
    color: var(--gray);
}

.connection-details-button:hover {
    transform: scale(1.1);
    color: var(--pink);
}

.connection-details-info>h1 {
    font-size: 52px;
    margin: 0;
    padding: 20px 0;
}

.connections-details-author-link {
    font-size: 30px;
    margin: 0;
    color: var(--purple);
    text-decoration: none;
    max-width: 20%;
}

.connections-details-author-link>p {
    width: fit-content;
    margin: 0;
    padding: 0 0 20px 10px
}

.connections-details-author-link:hover {
    color: var(--white);
    text-decoration: underline;
}

.connections-details-game-board {
    display: flex;
    justify-content: center;
    width: auto;
}

.connection-details-toggle-comments-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
}

.connection-details-toggle-comments-button-container>button {
    border: none;
    background-color: var(--elevation16);
    color: var(--white);
    border-radius: 4px;
    transition: all 300ms ease;
    height: 50px;
    width: 140px;
}

.connection-details-toggle-comments-button-container>button:hover {
    transform: scale(1.1);
}

.connection-details-comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
