.comments-index-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.comments-index-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;
}

.comments-index-form-user-input-container {
    width: 100%
}

.comments-index-form-user-icon-container {
    display: flex;
    width: 5%;
    box-sizing: border-box;
    align-self: flex-start;
    margin: 0 20px 0 0;
}

.comments-index-form-user-input-container>textarea {
    width: 100%;
    resize: none;
    height: 30px;
    background-color: var(--black);
    border: none;
    border-bottom: 2px var(--pink) solid;
    color: var(--white);
    word-wrap: break-word
}

.comments-index-form-user-input-container>textarea:focus {
    outline: none;
}

.comments-index-form-user-input-container>h4 {
    margin: 0;
    margin-bottom: 10px;
}

.comments-index-form-lower-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.comments-index-form-submit-button {
    height: 50px;
    width: 120px;
    border: none;
    background-color: var(--cyan);
    border-radius: 4px;
    transition: 300ms all ease;
    box-sizing: border-box;
    margin: 10px 0 0 20px;
}

.comments-index-form-submit-button:hover {
    transform: scale(1.1);
}

.comments-index-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
}

.disabled-comment-submit-button {
    pointer-events: none;
    background-color: var(--gray);
}

.comments-index-form-error-container {
    width: 30%;
}

.comments-index-form-error-container>p {
    color: var(--error);
}

.comments-index-form-button-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
