.comments-index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.comments-index-form-container {
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.comments-index-form-user-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    justify-content: flex-start;
    padding: 0 20px 0 0;
}

.comments-index-form-user-input-container>textarea {
    width: 50vw;
    resize: none;
    height: 30px;
    background-color: var(--black);
    border: none;
    border-bottom: 2px var(--white) solid;
    color: var(--white);
}

.comments-index-form-user-input-container>textarea:focus {
    outline: none;
}

.comments-index-form-user-input-container>h4 {
    margin: 0;
    margin-bottom: 10px;
}

.comments-index-form-button-container {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.comments-index-form-button-container>button {
    height: 100%;
}

.comments-index-card-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
}

.disabled-comment-submit-button {
    pointer-events: none;
    background-color: var(--error);
}
