#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms all ease;
  animation: fade-in 500ms;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: var(--black);
}

.login-header-div {
  display: flex;
  justify-content: center;
}

.signup-header-div {
  display: flex;
  justify-content: center;
}

.login-form-input {
  width: 100%;
  margin: 5px 5px;
  display: flex;
  justify-content: start;
}

.login-form-input input {
  width: 100%;
  margin: 0 5px;
  background-color: var(--elevation16);
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  color: var(--white);
}

.login-form-submit-button-div {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.signup-form-input {
  width: 100%;
  margin: 5px 5px;
  display: flex;
  justify-content: start;
}

.signup-form-input input {
  width: 100%;
  margin: 0 5px;
  background-color: var(--elevation16);
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  color: var(--white);
}

.signup-form-submit-button-div {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

#modal-content {
  border: 2px solid var(--pink);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.modal-error {
  margin-left: 5px;
  color: var(--error)
}

.modal-button {
  background-color: var(--dark-purple);
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 8px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 20px;
  transition: all 300ms ease;
  user-select: none;
  margin: 10px 0 10px 0;
}

.modal-button:hover {
  transform: scale(1.1);
}
