.comment-card-container {
    display: flex;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
    width: 100%;
    animation: fade-in 500ms;
}

.comment-card-content {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.comment-card-content>p {
    word-break: break-all;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-top: 5px;
    color: var(--white);
}

.comment-card-content>h4 {
    margin: 0;
    width: 100%;
    font-size: 20px;
}

.comment-card-button-container {
    width: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.comment-card-button {
    min-width: 25px;
    height: auto;
    cursor: pointer;
    transition: 300ms all ease;
    margin: 0 5px 0 5px;
    color: var(--gray);
}

.comment-card-button:hover {
    transform: scale(1.1);
    color: var(--pink);
}

.comments-index-form-user-icon-container {
    box-sizing: border-box;
    padding-top: 5px;
}
