.comment-card-container {
    display: flex;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.comment-card-content {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.comment-card-content>h4 {
    margin: 0;
}
