.connections-word-tile {
    padding: 8px 8px;
    gap: 4px;
    border: none;
    border-radius: 4px;
    background: gray;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    outline-offset: 4px;
}
